@import "mixins";

.btn {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  text-decoration: none;
  line-height: 1;
  font-size: var(--btn-font-size, 1em);
  padding-top: var(--btn-padding-y, 0.5em);
  padding-bottom: var(--btn-padding-y, 0.5em);
  padding-left: var(--btn-padding-x, 0.75em);
  padding-right: var(--btn-padding-x, 0.75em);
  border-radius: var(--btn-radius, 0.25em);
  line-height: 1.2;
  box-shadow: var(--shadow-xs);
  transition: 0.2s;
  outline: none;

  @media (hover: hover) {
    &:hover {
      cursor: pointer;
      box-shadow: var(--shadow-sm);
    }
  }

  &:focus {
    box-shadow: 0px 0px 0px 2px alpha(var(--color-contrast-higher), 0.15);
  }

  &:active {
    transform: translateY(2px);
  }

  > span {
    position: relative;
    top: 1px;
  }
}

// themes
.btn--primary {
  background-color: var(--color-primary);
  color: var(--color-white, hsl(0, 0%, 100%));
  @media (hover: hover) {
    &:hover {
      background-color: var(--color-primary-dark);
    }
  }
}

.btn--subtle {
  background-color: var(--color-contrast-low);
  color: var(--color-contrast-higher);
  @media (hover: hover) {
    &:hover {
      background-color: lightness(var(--color-contrast-low), 0.95);
    }
  }
}

// size
.btn--sm {
  font-size: var(--btn-font-size-sm, 0.8em);
}
.btn--md {
  font-size: var(--btn-font-size-md, 1.2em);
}
.btn--lg {
  font-size: var(--btn-font-size-lg, 1.4em);
}

// btn with icon (only)
.btn--icon {
  padding: var(--btn-padding-y, 0.5em);
}

.btn--disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
